certifi==2019.3.9
cufflinks==0.17.3
elasticsearch==6.3.1
elasticsearch-dsl==6.3.1
flake8==3.8.3
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.1.0
jupyter-core==4.6.2
notebook==6.4.10
pandas==1.0.1
plotly==4.5.0
urllib3==1.26.5
